<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button onclick="window.history.back()" class="btn btn-sm btn-default">Back</button>
            <button data-bind="click:function() { load(); }" class="btn btn-sm btn-default">Refresh</button>
        </div>
        <h1 class="clearfix" style="display:inline-block;">Department</h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group btn-warning" data-bind="if: errorMessage()">
                <label class="col-md-4 control-label">Error</label>
                <div class="col-md-8">
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </div>
            </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Name</label>
<div class="col-md-8 prop-name">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Name))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Budget</label>
<div class="col-md-8 prop-budget">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Budget))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Start Date</label>
<div class="col-md-8 prop-startDate">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.StartDate))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Instructor I D</label>
<div class="col-md-8 prop-instructorID">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.InstructorID))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Row Version</label>
<div class="col-md-8 prop-rowVersion">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.RowVersion))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Administrator</label>
<div class="col-md-7 prop-administrator">@(Knockout.SelectForObject<Coalesce.TaskListSample.Data.Models.Department>(p => p.Administrator))</div>                            <div class="col-md-1" data-bind="with: administrator">
                                <a data-bind="attr: {href: editUrl}" class="btn btn-default pull-right"><i class="fa fa-ellipsis-h "></i></a>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Courses</label>
<div class="col-md-8 prop-courses"><a data-bind='attr: {href: CoursesListUrl}, text: courses().length + " - Edit"' class='btn btn-default btn-sm'></a></div>                    </div>
        </div>
    </div>
    <div class="panel-body">
    </div>
</div>


    @section Scripts
    {
    <script>
        var adepartment = new ViewModels.Department();
        adepartment.includes = "Editor";

        adepartment.saveCallbacks.push(function(obj){
            // If there is a new id, set the one for this page
            if (!Coalesce.Utilities.GetUrlParameter('id')){
                if (adepartment.myId){
                    var newUrl = Coalesce.Utilities.SetUrlParameter(window.location.href, "id", adepartment.myId);
                    window.history.replaceState(null, window.document.title, newUrl);
                }
            }
        });

        @if (ViewBag.Id != null)
                {
                    @:adepartment.load('@ViewBag.Id');
                }
        @foreach (var kvp in ViewBag.ParentIds)
                {
                    @:adepartment.@(((string)(@kvp.Key)))(@kvp.Value);
                }

        window.onbeforeunload = function(){
            if (adepartment.isDirty()) adepartment.save();
        }

        adepartment.isSavingAutomatically = false;
        adepartment.loadChildren(function() {
            ko.applyBindings(adepartment);
            adepartment.isSavingAutomatically = true;
        });
    </script>
    }
