@using IntelliTect.Coalesce.Helpers
@{ ViewBag.Fluid = true; }

<style>
    td div a{
        display: block;
    }
    th.sortable-header{
        cursor: pointer;
    }
    th.sortable-header:hover{
        background-color: #e6e6e6
    }
</style>
<div style="padding: 10px 15px">
    <div class="clearfix">
        <h1  style="display: inline-block">
            Department List
                <span style="font-size: .5em; padding-left: 20px;"><a href="~/Department/Docs">API Docs</a></span>
        </h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>
    </div>

    <div class="clearfix">
        <div style="display: inline-block; font-size: 1.1em; margin-right: 10px;">
            <i class="fa fa-arrow-circle-left" data-bind="enabled: previousPageEnabled() && !isLoading(), click: previousPage"></i>
            Page
            <input data-bind="value: page" style="width: 35px">
            of
            <span data-bind="text: pageCount"></span>
            <i class="fa fa-arrow-circle-right" data-bind="enabled: nextPageEnabled() && !isLoading(), click: nextPage"></i>
        </div>
        <select data-bind="value:pageSize" class="form-control" style="width: 100px; display: inline-block">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>

        <input class="form-control pull-right" style="width: 250px; margin-left: 20px" data-bind="textInput: search" placeholder="Search" />

        <div class="btn-group pull-right">
                    <a href="~/Department/CreateEdit?@(ViewBag.Query)" role="button" class="btn btn-sm btn-default "><i class="fa fa-plus"></i> Create</a>
                <button data-bind="click:load" class="btn btn-sm btn-default "><i class="fa fa-refresh"></i> Refresh</button>
                @if (ViewBag.Editable)
                {
                <a href="~/Department/Table?@(ViewBag.Query)" role="button" class="btn btn-sm btn-default "><i class="fa fa-lock"></i> Make Read-only</a>
                }
                    else
                    {
                    <a href="~/Department/TableEdit?@ViewBag.Query" role="button" class="btn btn-sm btn-default "><i class="fa fa-pencil"></i> Make Editable</a>
                    }
                <a href="#" role="button" class="btn btn-sm btn-default " data-bind="attr:{href: downloadAllCsvUrl}"><i class="fa fa-download"></i> CSV</a>
                    <button role="button" class="btn btn-sm btn-default " data-bind="click: csvUploadUi"><i class="fa fa-upload"></i> CSV</button>
        </div>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
            <table class="table @(ViewBag.Editable ? " editable" : "" )">
        <thead>
            <tr>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('Name')}">
                            Name
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'Name', 'fa-caret-down': orderByDescending() == 'Name'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('Budget')}">
                            Budget
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'Budget', 'fa-caret-down': orderByDescending() == 'Budget'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('StartDate')}">
                            Start Date
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'StartDate', 'fa-caret-down': orderByDescending() == 'StartDate'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('InstructorID')}">
                            Instructor I D
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'InstructorID', 'fa-caret-down': orderByDescending() == 'InstructorID'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('RowVersion')}">
                            Row Version
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'RowVersion', 'fa-caret-down': orderByDescending() == 'RowVersion'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('Administrator')}">
                            Administrator
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'Administrator', 'fa-caret-down': orderByDescending() == 'Administrator'}"></i>
                        </th>
                        <th>Courses</th>
                <th style="width: 1%">
                </th>
            </tr>

        </thead>
        <tbody>
            <!-- ko foreach: items -->
            <tr data-bind="css: {'btn-warning': errorMessage()}, attr: {id: departmentID}">
                    @if (@ViewBag.Editable)
                    {
                        <td class="prop-name">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Name))</td>
                        <td class="prop-budget">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Budget))</td>
                        <td class="prop-startDate">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.StartDate))</td>
                        <td class="prop-instructorID">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.InstructorID))</td>
                        <td class="prop-rowVersion">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.RowVersion))</td>
                        <td class="prop-administrator">@(Knockout.SelectForObject<Coalesce.TaskListSample.Data.Models.Department>(p => p.Administrator))</td>
                        <td class="prop-courses"><a data-bind='attr: {href: CoursesListUrl}, text: courses().length + " - Edit"' class='btn btn-default btn-sm'></a></td>
                    }
                    else
                    {
                        <td class="prop-name">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Name, true))</td>
                        <td class="prop-budget">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Budget, true))</td>
                        <td class="prop-startDate">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.StartDate, true))</td>
                        <td class="prop-instructorID">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.InstructorID, true))</td>
                        <td class="prop-rowVersion">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.RowVersion, true))</td>
                        <td class="prop-administrator">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Department>(p => p.Administrator, true))</td>
                        <td class="prop-courses"><a data-bind='attr: {href: CoursesListUrl}, text: courses().length + " - Edit"' class='btn btn-default btn-sm'></a></td>
                    }
                <td>

                    <!-- Editor buttons -->
                    <div class="btn-group pull-right" role="group" style="display: inline-flex">
                                                    <a data-bind="attr:{ href: editUrl }" class="btn btn-sm btn-default">
                                <i class="fa fa-pencil"></i>
                            </a>
                                                    <button data-bind="click: deleteItemWithConfirmation" class="btn btn-sm btn-danger">
                                <i class="fa fa-remove"></i>
                            </button>

                    </div>
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
</div>






    @section Scripts
    {

    <script>
        var departmentList = new ListViewModels.DepartmentList();
        
        // Set up parent info based on the URL.
        @if (ViewBag.Query != null)
        {
            @:departmentList.queryString = "@(ViewBag.Query)";
        }

        // Save and restore values from the URL:
        var urlVariables = ['page', 'pageSize', 'search'];
        $.each(urlVariables, function(){
            var param = Coalesce.Utilities.GetUrlParameter(this);
            if (param) {departmentList[this](param);}
        })
        departmentList.isLoading.subscribe(function(){
            var newUrl = window.location.href;
            
            $.each(urlVariables, function(){
                var param = departmentList[this]();
                newUrl = Coalesce.Utilities.SetUrlParameter(newUrl, this, param);
            })
            history.replaceState(null, document.title, newUrl);
        });

        departmentList.isSavingAutomatically = false;
        ko.applyBindings(departmentList);
        departmentList.isSavingAutomatically = true;

        departmentList.includes = "DepartmentListGen";
        departmentList.load();

    </script>
    }
