<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button onclick="window.history.back()" class="btn btn-sm btn-default">Back</button>
            <button data-bind="click:function() { load(); }" class="btn btn-sm btn-default">Refresh</button>
        </div>
        <h1 class="clearfix" style="display:inline-block;">Student</h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group btn-warning" data-bind="if: errorMessage()">
                <label class="col-md-4 control-label">Error</label>
                <div class="col-md-8">
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </div>
            </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Enrollment Date</label>
<div class="col-md-8 prop-enrollmentDate">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.EnrollmentDate))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Enrollments</label>
<div class="col-md-8 prop-enrollments"><a data-bind='attr: {href: EnrollmentsListUrl}, text: enrollments().length + " - Edit"' class='btn btn-default btn-sm'></a></div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name</label>
<div class="col-md-8 prop-lastName">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.LastName))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
<div class="col-md-8 prop-firstMidName">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FirstMidName))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Full Name</label>
<div class="col-md-8 prop-fullName">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FullName))</div>                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Full Name Calculated</label>
<div class="col-md-8 prop-fullNameCalculated">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FullNameCalculated, false))</div>                    </div>
        </div>
    </div>
    <div class="panel-body">
    </div>
</div>


    @section Scripts
    {
    <script>
        var astudent = new ViewModels.Student();
        astudent.includes = "Editor";

        astudent.saveCallbacks.push(function(obj){
            // If there is a new id, set the one for this page
            if (!Coalesce.Utilities.GetUrlParameter('id')){
                if (astudent.myId){
                    var newUrl = Coalesce.Utilities.SetUrlParameter(window.location.href, "id", astudent.myId);
                    window.history.replaceState(null, window.document.title, newUrl);
                }
            }
        });

        @if (ViewBag.Id != null)
                {
                    @:astudent.load('@ViewBag.Id');
                }
        @foreach (var kvp in ViewBag.ParentIds)
                {
                    @:astudent.@(((string)(@kvp.Key)))(@kvp.Value);
                }

        window.onbeforeunload = function(){
            if (astudent.isDirty()) astudent.save();
        }

        astudent.isSavingAutomatically = false;
        astudent.loadChildren(function() {
            ko.applyBindings(astudent);
            astudent.isSavingAutomatically = true;
        });
    </script>
    }
