@using IntelliTect.Coalesce.Helpers
@{ ViewBag.Fluid = true; }

<style>
    td div a{
        display: block;
    }
    th.sortable-header{
        cursor: pointer;
    }
    th.sortable-header:hover{
        background-color: #e6e6e6
    }
</style>
<div style="padding: 10px 15px">
    <div class="clearfix">
        <h1  style="display: inline-block">
            Student List
                <span style="font-size: .5em; padding-left: 20px;"><a href="~/Student/Docs">API Docs</a></span>
        </h1>
        <span class="label label-info" data-bind="fadeVisible: isLoading()">Loading...</span>
    </div>

    <div class="clearfix">
        <div style="display: inline-block; font-size: 1.1em; margin-right: 10px;">
            <i class="fa fa-arrow-circle-left" data-bind="enabled: previousPageEnabled() && !isLoading(), click: previousPage"></i>
            Page
            <input data-bind="value: page" style="width: 35px">
            of
            <span data-bind="text: pageCount"></span>
            <i class="fa fa-arrow-circle-right" data-bind="enabled: nextPageEnabled() && !isLoading(), click: nextPage"></i>
        </div>
        <select data-bind="value:pageSize" class="form-control" style="width: 100px; display: inline-block">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>

        <input class="form-control pull-right" style="width: 250px; margin-left: 20px" data-bind="textInput: search" placeholder="Search" />

        <div class="btn-group pull-right">
                    <a href="~/Student/CreateEdit?@(ViewBag.Query)" role="button" class="btn btn-sm btn-default "><i class="fa fa-plus"></i> Create</a>
                <button data-bind="click:load" class="btn btn-sm btn-default "><i class="fa fa-refresh"></i> Refresh</button>
                @if (ViewBag.Editable)
                {
                <a href="~/Student/Table?@(ViewBag.Query)" role="button" class="btn btn-sm btn-default "><i class="fa fa-lock"></i> Make Read-only</a>
                }
                    else
                    {
                    <a href="~/Student/TableEdit?@ViewBag.Query" role="button" class="btn btn-sm btn-default "><i class="fa fa-pencil"></i> Make Editable</a>
                    }
                <a href="#" role="button" class="btn btn-sm btn-default " data-bind="attr:{href: downloadAllCsvUrl}"><i class="fa fa-download"></i> CSV</a>
                    <button role="button" class="btn btn-sm btn-default " data-bind="click: csvUploadUi"><i class="fa fa-upload"></i> CSV</button>
        </div>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
            <table class="table @(ViewBag.Editable ? " editable" : "" )">
        <thead>
            <tr>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('EnrollmentDate')}">
                            Enrollment Date
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'EnrollmentDate', 'fa-caret-down': orderByDescending() == 'EnrollmentDate'}"></i>
                        </th>
                        <th>Enrollments</th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('LastName')}">
                            Last Name
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'LastName', 'fa-caret-down': orderByDescending() == 'LastName'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('FirstName')}">
                            First Name
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'FirstName', 'fa-caret-down': orderByDescending() == 'FirstName'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('FullName')}">
                            Full Name
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'FullName', 'fa-caret-down': orderByDescending() == 'FullName'}"></i>
                        </th>
                        <th class="sortable-header" data-bind="click: function(){orderByToggle('CalculatedField')}">
                            Calculated Field
                            <i class="pull-right fa" data-bind="css:{'fa-caret-up': orderBy() == 'CalculatedField', 'fa-caret-down': orderByDescending() == 'CalculatedField'}"></i>
                        </th>
                <th style="width: 1%">
                </th>
            </tr>

        </thead>
        <tbody>
            <!-- ko foreach: items -->
            <tr data-bind="css: {'btn-warning': errorMessage()}, attr: {id: studentId}">
                    @if (@ViewBag.Editable)
                    {
                        <td class="prop-enrollmentDate">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.EnrollmentDate))</td>
                        <td class="prop-enrollments"><a data-bind='attr: {href: EnrollmentsListUrl}, text: enrollments().length + " - Edit"' class='btn btn-default btn-sm'></a></td>
                        <td class="prop-lastName">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.LastName))</td>
                        <td class="prop-firstName">@(Knockout.InputFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FirstName))</td>
                        <td class="prop-fullName">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FullName, true))</td>
                        <td class="prop-calculatedField">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.CalculatedField, true))</td>
                    }
                    else
                    {
                        <td class="prop-enrollmentDate">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.EnrollmentDate, true))</td>
                        <td class="prop-enrollments"><a data-bind='attr: {href: EnrollmentsListUrl}, text: enrollments().length + " - Edit"' class='btn btn-default btn-sm'></a></td>
                        <td class="prop-lastName">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.LastName, true))</td>
                        <td class="prop-firstName">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FirstName, true))</td>
                        <td class="prop-fullName">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.FullName, true))</td>
                        <td class="prop-calculatedField">@(Knockout.DisplayFor<Coalesce.TaskListSample.Data.Models.Student>(p => p.CalculatedField, true))</td>
                    }
                <td>

                    <!-- Editor buttons -->
                    <div class="btn-group pull-right" role="group" style="display: inline-flex">
                                                    <a data-bind="attr:{ href: editUrl }" class="btn btn-sm btn-default">
                                <i class="fa fa-pencil"></i>
                            </a>
                                                    <button data-bind="click: deleteItemWithConfirmation" class="btn btn-sm btn-danger">
                                <i class="fa fa-remove"></i>
                            </button>

                    </div>
                    <div class="form-control-static" data-bind="text: errorMessage"></div>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
</div>






    @section Scripts
    {

    <script>
        var studentList = new ListViewModels.StudentList();
        
        // Set up parent info based on the URL.
        @if (ViewBag.Query != null)
        {
            @:studentList.queryString = "@(ViewBag.Query)";
        }

        // Save and restore values from the URL:
        var urlVariables = ['page', 'pageSize', 'search'];
        $.each(urlVariables, function(){
            var param = Coalesce.Utilities.GetUrlParameter(this);
            if (param) {studentList[this](param);}
        })
        studentList.isLoading.subscribe(function(){
            var newUrl = window.location.href;
            
            $.each(urlVariables, function(){
                var param = studentList[this]();
                newUrl = Coalesce.Utilities.SetUrlParameter(newUrl, this, param);
            })
            history.replaceState(null, document.title, newUrl);
        });

        studentList.isSavingAutomatically = false;
        ko.applyBindings(studentList);
        studentList.isSavingAutomatically = true;

        studentList.includes = "StudentListGen";
        studentList.load();

    </script>
    }
